---
const { heading, subheading, image } = Astro.props;
---
<section class="text-center py-12 bg-gray-100">
  <h1 class="text-4xl font-bold">{heading}</h1>
  <p class="text-lg mt-2">{subheading}</p>
  {image && <img src={image.asset.url} alt={heading} class="mx-auto mt-6 rounded-xl" />}
</section>
