---
import AnimatedBlock from "../AnimatedBlock.astro";

const { content } = Astro.props;
---
<AnimatedBlock animation="fadeInUp" delay={0} class="block-content">
  <section class="prose mx-auto p-8">
    <p class="text-responsive-body">{content}</p>
  </section>
</AnimatedBlock>
