---
import { client } from "../lib/sanityClient";

const page = await client.fetch(
  `*[_type == "page" && slug.current == "inicio"][0]{
    title,
    blocks[]{
      _type,
      ...
    }
  }`
);
---

<html lang="es">
  <head>
    <title>{page?.title}</title>
  </head>
  <body>
    <h1>{page?.title}</h1>
    <pre>{JSON.stringify(page, null, 2)}</pre>
  </body>
</html>
